<md-toolbar color="primary">

  <nav md-tab-nav-bar color="accent">
    <a md-tab-link
    routerLink="/"
    routerLinkActive="active">
    YOUNG MUSICIANS SUMMER ACADEMY
    </a>
    <a md-tab-link
    routerLink="/faculty"
    routerLinkActive="active">
    YMSA FACULTY
    </a>
    <a md-tab-link
    routerLink="/faq"
    routerLinkActive="active">
    FAQ
    </a>
  </nav>

  <span fxFlex></span>

  <md-menu #menu="mdMenu">
    <button md-menu-item>
      SIGN UP
    </button>
    <button md-menu-item>
      DONATE
    </button>
    <button md-menu-item>
      CONTACT US
    </button>
  </md-menu>
  <button md-icon-button [mdMenuTriggerFor]='menu' >
    <md-icon>more_vert</md-icon>
  </button>

</md-toolbar>

<md-sidenav-container>
  <router-outlet></router-outlet>
</md-sidenav-container>
