.content-div {
  overflow-x: scroll;
  white-space: nowrap;
  height: auto;
  margin-left: 32px;
  margin-right: 32px;
  padding: 16px;
}

.content-card img {
  width: 300px;
  align-self: flex-end;
}

.mat-card-title {
  font-size: 22px;
}

.content-card {
  margin: 16px;
  display: inline-block;
}
